.list {
  margin: 20px 120px;
}

.list-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.list-item:last-child {
  border-bottom: 1px solid #ccc;
}

.list-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.list-item .title {
  font-size: 20px;
  font-weight: bold;
  color: #428bca;
}

.sub-title {
  font-size: 16px;
  color: darkgray;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.record {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
